#answers {
  flex-grow: 1;

  li {
    color: red;

    p {
      color: gray;
    }
  }
}

body {
  background-color: cornflowerblue;
  font-family: sans-serif;

  margin: 1rem;
}

button {
  background-color: orange;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

h1 {
  color: orange;
}

h2 {
  margin-top: 0;
}

input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

label {
  color: white;
  font-weight: bold;
}

.list {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;

  li {
    border-top: 1px dashed gray;
    padding: 1rem 0;
  }
}

main {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  margin-top: 1rem;
  width: 100%;
}

.question {
  display: flex;
  gap: 1rem;

  div {
    flex-grow: 1;
  }
}

#questions {
  width: 10rem;

  li {
    color: green;

    button {
      background-color: transparent;
      padding: 0;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
