.answer {
  color: blue;

  p {
    color: gray;
  }
}

body {
  background-color: cornflowerblue;
  font-family: sans-serif;

  margin: 1rem;
}

button {
  background-color: orange;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

h1 {
  color: orange;
}

input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

label {
  color: white;
  font-weight: bold;
}

.question > div {
  display: flex;
  justify-content: space-between;

  color: green;

  button {
    color: red;
  }
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;
}

td,
th {
  border: 1px solid cornflowerblue;
  padding: 0.5rem;
}

td {
  background-color: white;

  & button {
    background-color: transparent;
    color: white;
  }
}

th {
  background-color: orange;
}
