#answers {
  flex-grow: 1;

  li {
    color: red;
  }
}

body {
  background-color: cornflowerblue;
  font-family: sans-serif;
}

button {
  background-color: lightgreen;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

h1 {
  color: orange;
}

h2 {
  margin-top: 0;
}

input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

label {
  color: white;
  font-weight: bold;
}

.list {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;

  li {
    border-top: 1px dashed gray;
    padding: 1rem 0;
  }
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

#questions {
  width: 10rem;

  li {
    color: green;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
